﻿<div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="selectUser">Seleccione Usuario:</label>
                <select class="form-control" id="selectUser">
                    <option value="Jorge">Jorge</option>
                    <option value="ricardo">Ricardo</option>
                </select>
            </div>
            <div><span>Potencia:</span><span id="labelPot" class="labelIndicator"></span>  </div>
            <div><span>Raiz cuadrada:</span><span id="labelSqrt" class="labelIndicator"></span>  </div>
        </div>
        <div class="col-md-6" id="containerCalc">
            
        </div>
        <div class="col-md-2">
            
        </div>
    </div>
</div>

<script type="text/template" id="templateCalc">
    <form name="calculat">
        <div style="padding-top:5px;padding-left: 10px;">
            <input type="text" class="form-control numbers" name="numbers1" style="width: 325px;text-align: right;" id="calc"></input>
        </div>
        <div style="padding-top:5px;padding-left: 10px;">
            <input type="button" class="btn button1 number" value="7" onclick="numbers1.value += '7'"></input>
            <input type="button" class="btn button1 number" value="8" onclick="numbers1.value += '8'"></input>
            <input type="button" class="btn button1 number" value="9" onclick="numbers1.value += '9'"></input>
            <input type="button" class="btn button1 btn-primary" value="÷" onclick="numbers1.value += '÷'"></input>
        </div>
        <div style="padding-top:5px;padding-left: 10px;">
            <input type="button" class="btn button1 number" value="4" onclick="numbers1.value += '4'"></input>
            <input type="button" class="btn button1 number" value="5" onclick="numbers1.value += '5'"></input>
            <input type="button" class="btn button1 number" value="6" onclick="numbers1.value += '6'"></input>
            <input type="button" class="btn button1 btn-primary" value="x" onclick="numbers1.value += 'x'"></input>
            <input id="buttonSqrt" type="button" class="btn button1 btn-warning" value="&#8730;" onclick="numbers1.value += '&#8730;'"></input>
        </div>
        <div style="padding-top:5px;padding-left: 10px;">
            <input type="button" class="btn button1 number" value="1" onclick="numbers1.value += '1'" />
            <input type="button" class="btn button1 number" value="2" onclick="numbers1.value += '2'"></input>
            <input type="button" class="btn button1 number" value="3" onclick="numbers1.value += '3'"></input>
            <input type="button" class="btn button1 btn-primary" value="-" onclick="numbers1.value += '-'"></input>
            <input id="buttonPot" type="button" class="btn button1 btn-warning" value="^" onclick="numbers1.value += '^'"></input>
        </div>
        <div style="padding-top:5px;padding-left: 10px;">
            <input type="button" class="btn button1" value="0" onclick="numbers1.value += '0'"></input>
            <input type="button" class="btn button1" value="." style="font-size:15px;" onclick="numbers1.value += '.'"></input>
            <!--<input id="evalueButton" type="button" class="btn button1" value="=" ></input>-->
            <input type="button" class="btn button1 btn-primary" value="+" onclick="numbers1.value += '+'"></input>
            <input type="button" class="btn button1 btn-primary" value="Del" onclick="numbers1.value = ''" />
        </div>
    </form>
</script>